.section {
  margin-left: 0px;
  top: 0px;
  left: 0px;
  padding: 70px;
  text-align: center;
  background-image: url(https://health.clevelandclinic.org/wp-content/uploads/sites/3/2019/06/cropped-GettyImages-643764514.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  .title {
    font-size: 55px;
    font-weight: 600;
    color: white;
  }
  .background-color {
    background-color: #adc743;
  }
  span {
    color: white;
  }
}

.container {
  min-width: 980px;
  margin: 0 calc((100% - 980px) * 0.5);

  .formGroup {
    display: flex;
    flex-direction: column;

    .group {
      margin-bottom: 25px;
    }

    .genre-group {
      display: flex;
      flex-direction: row;
      margin-top: 10px;

      .genre-value {
        margin-right: 15px;
      }
    }

    .activity-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;

      .activity-value {
        margin-bottom: 15px;
      }
    }
  }
}

.center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 0;
}

.margin-top {
  margin-top: 0;
}

button {
  float: right;
  background-color: #adc743;
  color: #fff;
  border-radius: 20px;
}

.margin-right {
  right: 10px;
}

table {
  width: 100%;
  margin: 0 auto;

  &.meal-table {
    margin: 20px 0;
  }

  button {
    float: left;
  }

  .total-calories-row {
    color: #900000;
  }
}

h2.result-name {
  font-weight: 500;
  font-size: 32px;
}

h4.result-info {
  font-weight: 400;
}
