<div class="container">
    <form class="recipe-add__form">
        <h3 class="recipe-add__field-title recipe-add__field-title--steps">Steps</h3>
        <ol>
            <li *ngFor="let step of recipe.steps; let i = index">
                {{ step }}
                <button mat-icon-button (click)="onDeleteStep(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ol>
        <div class="steps__add-fields">
            <mat-form-field class="recipe-add__field recipe-add__field--medium">
                <input matInput name="newStep" placeholder="Step" type="text" #newStepCurrent="ngModel"
                    [(ngModel)]="newStep">
            </mat-form-field>
            <button type="button" mat-button color="primary"
                (click)="onAddNewStep()"
                [disabled]="!newStepCurrent.value">
                Add step
            </button>
        </div>

        <h3 class="recipe-add__field-title recipe-add__field-title--images">Images</h3>
        <ul class="images-list">
            <li *ngFor="let url of recipe.imageUrl; let i = index">
                <img class="small-image" src={{url}} alt="">
                <button mat-icon-button (click)="onDeleteImageUrl(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
        <div class="images__add-fields">
            <mat-form-field class="recipe-add__field recipe-add__field--medium">
                <input matInput name="newImageUrl" placeholder="Image Url" type="text" #newImageUrlCurrent="ngModel"
                    [(ngModel)]="newImageUrl">
            </mat-form-field>
            <button type="button" mat-button color="primary"
                (click)="onAddNewImage()"
                [disabled]="!newImageUrlCurrent.value">
                Add image
            </button>
        </div>

        <h3 class="recipe-add__field-title recipe-add__field-title--prepareTime">Prepare time</h3>
        <mat-form-field class="recipe-add__field">
            <input matInput name="prepareTime" placeholder="Prepare Time" type="text" [(ngModel)]="recipe.prepareTime" required>
        </mat-form-field>
    </form>
    <button class="recipe-add__add-button" mat-raised-button (click)="onEditRecipe()">Update recipe</button>
</div>