<div class="container">
    <div class="aboutWrap">
        <div class="aboutTitle">About Alexandrina</div>
        <div class="aboutContent">
            Dr. Alexandrina is a qualified physician, best-selling author and writer in the field of health, as well as
            an
            authority in the world of nutrition. Sorting out what happens in BS (goodbye, flat stomach teas),
            nutritionist
            Alexandrina is one of the most respected voices in health and shares forever recipes that will make you rest
            in
            the kitchen.

            <div class="aboutImage"></div>
        </div>
    </div>
</div>