<div class="container">
    <div class="aboutWrap">
        <div class="aboutTitle">About Alexandrina</div>
        <div class="aboutContent">
            Nutriționistul aplicației noastre este un medic calificat, cel mai bine vândut autor și scriitor în domeniul sănătății, precum și un autoritat în lumea nutriției. Nutriționistul nostru este ununul dintre cei mai respectate voci în sănătate și împărtășește pentru totdeauna rețete care te vor face să te odihnești în bucătărie.

            <div class="aboutImage"></div>
        </div>
    </div>
</div>