<div class="container">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <form class="product-add__form">
    <div class="product-add__inputs">
      <mat-form-field class="product-add__field">
        <input matInput name="name" placeholder="Nume*" type="text" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field class="product-add__field">
        <input matInput name="protein" placeholder="Proteine / 100g*" type="number" [(ngModel)]="protein">
      </mat-form-field>
      <mat-form-field class="product-add__field">
        <input matInput name="carbs" placeholder="Carbohidrați / 100g*" type="number" [(ngModel)]="carbs">
      </mat-form-field>
      <mat-form-field class="product-add__field">
        <input matInput name="fats" placeholder="Lipide / 100g*" type="number" [(ngModel)]="fats">
      </mat-form-field>
      <mat-form-field class="product-add__field">
        <input matInput name="calories" placeholder="Calorii/ 100g*" type="number" [(ngModel)]="calories">
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button (click)="addProduct()">Adaugă produsul!</button>
</div>