.title {
    margin-top: 20px;
    font: normal normal normal 50px/1.3em droid-serif-w01-regular, droid-serif-w02-regular, droid-serif-w10-regular, serif;
}

.prepareTime {
    margin-bottom: 20px;
    color: darkgray;
}

.container {
    min-width: 980px;
    margin: 0 calc((100% - 980px) * 0.5);
}