<div class="container">
    <h2 mat-dialog-title>{{ dialogTitle }}</h2>
    <form class="meal-add__form">
        <mat-form-field class="meal-add__field">
            <input matInput name="name" placeholder="Nume" type="text" [(ngModel)]="name" required>
        </mat-form-field>
        <mat-form-field class="meal-add__field">
            <mat-label>Partea zilei</mat-label>
            <mat-select name="category" [(ngModel)]="category" required>
                <mat-option value="1">Mic dejun</mat-option>
                <mat-option value="2">Prânz</mat-option>
                <mat-option value="3">Cina</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="meal-add__field">
            <input matInput name="imageUrl" placeholder="URL-ul imaginei" type="text" [(ngModel)]="imageUrl" required>
        </mat-form-field>
        <h3 class="meal-add__field-title meal-add__field-title--ingredients">Ingrediente</h3>
        <mat-list>
            <mat-list-item *ngFor="let ingredient of ingredients; let i = index">
                {{ ingredient.name }} ({{ ingredient.weight }}g)
                <button mat-icon-button (click)="onDeleteIngredient(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
        <div class="ingredients__add-fields">
            <mat-form-field class="meal-add__field meal-add__field--medium">
                <mat-select placeholder="Ingrediente" #ingredientCurrent="ngModel" [(ngModel)]="ingredient"
                    name="ingredient">
                    <mat-option [value]="product" *ngFor="let product of products">{{ product.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="meal-add__field meal-add__field--medium">
                <input matInput name="amount" placeholder="Greutate (g)" type="number" #ingredientAmountCurrent="ngModel"
                    [(ngModel)]="ingredientAmount">
            </mat-form-field>
            <button class="meal-add__ingredients-button" type="button" mat-button color="primary"
                (click)="onAddIngredient()"
                [disabled]="(ingredientAmountCurrent.value <= 0 || !ingredientAmountCurrent.value) || !ingredientCurrent.value">
                Adăugă ingrediente
            </button>
        </div>
    </form>
    <button class="meal-add__add-button" mat-raised-button (click)="onAddMeal()">Adaugă masa</button>
</div>