<div class="section">
    <div class="title">Meals</div>
    <span>Lorem ipsum dolores sit amet</span>
</div>
<div class="container">

    <div *ngIf="checkUserIsStaff()" class="button-container">
        <button mat-fab [routerLink]="['/meals/add']" color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search keyword..." #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight (g)</th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="calories">
            <th mat-header-cell *matHeaderCellDef> Calories (kkl)</th>
            <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="element-detail-wrap"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="element-details">
                        <div class="example-element-diagram"
                            [ngStyle]="{'background-image': 'url(' + element.imageUrl + ')'}"></div>
                        <div class="element-description">
                            <div class="example-element-protein">Protein: {{element.protein}} </div>
                            <div class="example-element-carbs">Carbohydrates: {{element.carbs}} </div>
                            <div class="example-element-fats">Fats: {{element.fats}} </div>
                            <div class="element-ingredients-wrap">
                                Ingredients:
                                <ul>
                                    <li *ngFor="let ingredient of element.ingredients">{{ingredient.name}} ({{ingredient.weight}}g)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="element-actions">
                        <button *ngIf="checkUserIsLogged()" mat-icon-button (click)="addFavorite(element._id)" matTooltip="Add to favorites" color="warn">
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button *ngIf="checkUserIsLogged()" [routerLink]="['/recipes/details/', element.recipe]" mat-icon-button matTooltip="Open recipe">
                            <mat-icon>receipt</mat-icon>
                        </button>
                        <button *ngIf="checkUserIsStaff()"  mat-icon-button (click)="editMeal(element._id)" matTooltip="Edit this meal">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="checkUserIsStaff()" mat-icon-button (click)="deleteMeal(element._id)" matTooltip="Remove this meal">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data</td>
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <button class="redirectToProductsBtn" mat-stroked-button color="primary"
        [routerLink]="['/products']">Products</button>
</div>