.container {
    min-width: 980px;
    margin: 0 calc((100% - 980px) * 0.5);

    .jumbotron {
        margin-top: 30px;
        padding: 45px 30px;
        background-color: #f9f9f9;
        border-radius: 10px;

        h1 {
            font-weight: 500;
        }
    }
}
