.container {
    min-width: 980px;
    margin: 0 calc((100% - 980px) * 0.5);

    .jumbotron {
        margin-top: 30px;
        padding: 45px 30px;
        background-color: #f9f9f9;
        border-radius: 10px;

        .profile-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-weight: 500;
            }
        }
    }
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 5px;
}

.example-full-width {
    width: 100%;
}

.savedMealsTable {
    width: 100%;
}