<div class="section">
  <div class="ribbon">
    <div class="quote">
      <span>"People must eat to live, not live to eat"</span>
    </div>
    <div class="button">
      <a mat-button routerLink="/sesion" routerLinkActive="active" >Book a session</a>
    </div>
  </div>
</div>
<div class="container" role="main">
  <div class="card">
    <div class="profile">
      <img id="cardProfile"
        src="https://static.wixstatic.com/media/1e47b2_65c22d9dd665412384741e6b0794c447.jpg/v1/fill/w_463,h_559,al_c,lg_1,q_80/1e47b2_65c22d9dd665412384741e6b0794c447.webp" />
    </div>
    <div class="info">
      <div class="content">
        <div class="title">
          About Alexandrina
        </div>
        <p>
          <i>Dr. Alexandrina is a qualified physician, best-selling author and writer in the field of health, 
            as well as an authority in the world of nutrition. Sorting out what happens in BS (goodbye, flat stomach teas), 
            nutritionist Alexandrina is one of the most respected voices in health and shares forever recipes that will make you rest in the kitchen.
             He regularly posts pictures and tips on everything from calorie content to improving sleep habits. As a nutritionist, she will be a familiar name, 
             but make sure you keep up with her!</i>
        </p>
        <a mat-button>Read more</a>
      </div>
    </div>
  </div>

  <div class="blocks">
    <div class="small">
      <a mat-button>
        Recipes
      </a>
    </div>
    <div class="big">
      <div class="content">
        <h2>Recipes & Tips</h2>

        <div class="column">
          <a routerLink="/recipes">
            <img
              src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2020/03/chicken-sweetcorn-tacos.jpg?itok=QUCkFePo"
              style="width: 150px; margin-left: -50px;" />
          </a>
        </div>
        <div class="column">
          <a routerLink="/recipes">
            <img src="https://www.bbcgoodfood.com/sites/default/files/editor_files/2019/12/goodfood_eggfriedrice-1.jpg"
              style="width: 200px;
            margin-left: 90px;
            height: 100px;
            position: absolute;
            top: 80px;">
          </a>
        </div>
        <div class="column">
          <a href="http://localhost:4200/recipes/">
            <img
              src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2020/05/vegan-burger.jpg?itok=rrZ477EN"
              style="width: 160px;
            margin-left: 231px;
            height: 160px;
            position: absolute;
            top: 41px;">
          </a>
        </div>
      </div>
    </div>
    <div class="imageBlock">
      <img
        src="https://static.wixstatic.com/media/1e47b2_7b313b0f10e5472a9b1f29f58acb0d91.jpg/v1/fill/w_898,h_564,al_c,lg_1,q_85/1e47b2_7b313b0f10e5472a9b1f29f58acb0d91.webp" />
    </div>

    <div class="imageBlock image-right">
      <img
        src="https://static.wixstatic.com/media/1e47b2_7fac6f8c65bf483793cd24f9af96b9e2.jpg/v1/fill/w_560,h_670,al_c,lg_1,q_85/1e47b2_7fac6f8c65bf483793cd24f9af96b9e2.webp" />
    </div>
  </div>
</div>